// Here you can add other styles
.div-card-merchants
{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.title-header{
  margin: auto;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
  display: flexbox;
}
.merchant-photo
{
  width: 30%;
  height: 30%;
  border: 1px solid #4D44B5;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.span-merchant{
  margin-top: 30px
}
.card-title-modal{
  color: #4D44B5;
  font-size: 1.5rem;
  font-weight: bold;
}
.icon-email{
  border-radius: 40%;
  border: 1px solid #fff;

  padding: 5px;
  color: #fff;
  background-color: #FB7D5B;
}
.employee-avatar{
  border-radius: 50%;
  border: 1px solid #e4e7eb;
  padding: 10px;
  height: 160px;
  width: 160px;
}
.employee-name{
  margin-left: 3px;
  color: #303972;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: start;
}
.employee-role{
  margin-left: 3px;
  color: #303972;
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  justify-content: start;
}

// contact
.btn-contact{
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  display: flex;
  width: 91%;
  align-items: center;
  justify-content: center;
  background-color: #F5F2F9;
  color: #303972;
}
.btn-contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.contact-icon-button{
  border-radius: 50%;
  background-color: #fff;
  color: #303972;
  padding: 12px;
  height: 50px;
  border: 1px solid #303972;
  width: 50px;
}
.person-contact{
  margin: 0;
  color: #303972;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: start;
}
.employee-contact-avatar{
border-radius: 50%;
padding: 10px;
height: 70px;
width: 70px;
}
.contact-card{
  align-items: center;
  justify-content: start;
  margin: 3px;
  display: flex;
  width: 100%;
}
.status-complete {
  color: #4CBC9A;
}

.status-pending {
  color: #A098AE;
}

.status-cancelled {
  color: #FF4550;
}
.user-details-column{
  align-items: center;
  justify-content: center;
  margin: auto,
}
.div-user-details{
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.space-y-3 > :not(template) ~ :not(template) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gap-4 {
  gap: 1rem;
}
.h-5 {
  height: 100px;
  margin-bottom: 40px;
}
.bg-gray-500 {
  --tw-bg-opacity: 0.8;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
.rounded {
  border-radius: 0.25rem;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.spinner-container{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}